<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59781/Products.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductServiceConsumer.IProductService" name="BasicHttpBinding_IProductService" />
        </client>
    </system.serviceModel>
  
</configuration>