<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUrunlerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wcfservicekatmanli.somee.com/UrunlerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUrunlerService"
                contract="ServiceReference1.IUrunlerService" name="BasicHttpBinding_IUrunlerService" />
        </client>
    </system.serviceModel>
</configuration>